*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 15px;
}


.banner{
    width: 100vw;
    height: 80vh;
    background-image: url(../images/safari.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    text-align: center;
}

/* two-section  */

.two-section{
    background-color: rgb(54, 50, 50);
    color: #fff;
    margin: 0 auto;
    width: 100%;
    /* text-align: center; */
}

.banner h4{
    font-weight: 500;
    font-family: 'Akaya Telivigala', cursive;
    font-size: 3.5rem;
    padding-top: 20rem;
}

.banner h1{
    font-weight: 700;
    font-family: 'Akaya Telivigala', cursive;
    font-size: 8rem;
}

.banner a{
    font-size: 2rem;
    color: #fff;
    margin-left: 1rem;
}

.banner .fa{
    font-size: 32px;
}

#back{
    margin-left: 1rem;
    font-size: 2rem;
}

.my-button{
    width: 121px;
    height: 42px;
    background-color: transparent;
    border: 2px solid gray;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.more{
    text-align: center;
}


.left{
    width: 45%;
}

.right{
    width: 35%;
}

.right img{
    width: 80%;
}

.margin{
    margin-left: 7rem;
}

.left1{
    width: 35%;
}

.right1{
    width: 45%;
}

.left1 img {
    width: 80%;
}

.alternate{
    margin-left: 7rem;
}

.one{
    padding-top: 5rem;
}

.btn1{
    text-align: center;
}




/* footer starts  */

.container-fluid{
    padding-left: 0;
}

.logo{
    position: relative;
    left: -15px;
    text-align: center;
    margin-top: 2rem;
}

.logo::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../images/abhishek-singh-rMMtyyponRM-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: 0.4;
}

.logo span{
    font-size: 1.5rem;
    padding: 0.7rem;
    border: 2px solid black;
    border-radius: 100%;
    margin-bottom: 2rem;
}

.coyright p {
    font-weight: 700;
}

.help{
    margin-top: 2rem;
}

footer{
    margin-top: 0;
}

.logo{
    margin-top: 0rem;
    padding-left: 0;
}

.copyright p{
    font-weight: 300;
    margin-bottom: 4rem;
}

/* media-query  */

@media only screen and (max-width:1170px){
.logo{
    margin-top: -28px;
    padding-left: 0;
}

    .left{
        width: 100%;
    }

    .right{
        width: 100%;
    }

    .left1{
        width: 100%;
    }

    .right1{
        width: 100%;
    }

    .margin{
        margin-left: 0;
    }

    .alternate{
        margin-left: 0;
    }

    .right img{
        width: 60%;
    }

    .left1 img{
          width: 60%;
    }

    .two-section{
        text-align: center;
    }
}

@media only screen and (max-width:580px){
    .banner h4{
       font-size: 2.5rem;
    }

    .banner h1{
       font-size: 6rem;
    } 

    .logo{
        margin-top: 1px;
        padding-left: 0;
    }

    .logo{
        position: relative;
        left: -16px; 
        }

   
}

@media only screen and (max-width:400px){
    .banner h4{
       font-size: 2rem;
       margin: 0;
    }

    .banner h1{
       font-size: 4rem;
    } 

    .logo{
        position: relative;
        left: -16px; 
        }
}
